.principal {
  padding: 40px 15px;
  text-align: center;
}

.dropbtn {
background-color: #222222;
color: #9d9d9d;
padding-top: 15px;
padding-bottom: 15px;
border: none;
}

.dropa {
  background-color: #222222;
  color: #9d9d9d;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  border: none;
}

.login {
  float: left;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #a9a9a9;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
  background-color: #222;
  color:white;
}

.dropa:hover {
  color:white;
  text-decoration: none;
}
